<!DOCTYPE html>
<html>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src='/javascripts/raphael.js'></script>
<script type="text/javascript" src='javascripts/jquery.usmap.js'></script>
<script type="text/javascript" src='/javascripts/map.js'></script>
<head>
  <title>Map View</title>
</head>
<!-- Below based off info from bootstrap docs and w3schools panel tutorials -->
<body style="background-color: #F8F8F8">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mapper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="inactive"><a href="/">Login</a></li>
      <li class="active"><a href="/index">Map</a></li>
      <li class="inactive"><a href="/admin">RDS Admin</a></li>
    </ul>
  </nav>

  <div class="container">
    <div id="jumbotop" class="jumbotron jumbotron-fluid">
      <div id="us_map" style="width: 600px;height: 400px; margin: 0 auto"></div>
      <div style="text-align: center;">
        <p id="text">State Selected: N/A</p>
      </div>
      <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#college_collapse">Education</a>
              </h4>
            </div>
            <div id="college_collapse" class="panel-collapse collapse">
              <div class="panel-body">Select a state first.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#hospital_collapse">Healthcare</a>
              </h4>
            </div>
            <div id="hospital_collapse" class="panel-collapse collapse">
              <div class="panel-body">Select a state first.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#city_collapse">Cities and Population</a>
              </h4>
            </div>
            <div id="city_collapse" class="panel-collapse collapse">
              <div class="panel-body">Select a state first.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#demo_collapse">Demographic Info</a>
              </h4>
            </div>
            <div id="demo_collapse" class="panel-collapse collapse">
              <div class="panel-body">Select a state first.</div>
            </div>
          </div>
        </div>
    </div>
  </div>

</body>
</html>